@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

#app {
  display: flex;
  background-color: #1a1a1a;
  justify-content: center;
}

* {
  font-family: 'Figtree', sans-serif;
}
